{% extends "layout.html" %}
{% block content %}
<head>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='carbon_app.css') }}"
  />
</head>
<!-- Header -->
<section class="section_header_home">
    <div class="container">
      <div class="header_home">
        <div class="box_home">
          <h1 style="font-size: 55px">
            <span class="text-logo"> REGISTER</span>
          </h1>
          <p>
            Hello, please register in our app to start using it!
          </p>
        </div>
      </div>

      <div class="container_buttons_header_home" style="text-align: center;">
        <div class="btn_carbon">
          <a
            href="{{url_for('users.login')}}"
            class="btn btn-primary btn-lg mr-2"
            ,
            style="background-color: #f37979; border: #f37979;"
            >...</a
          >
        </div>
    </div>
</section>

{% endblock content %}