/* Section developer */
.section_developer {
  background-color: #fff;
}
.developer {
  display: flex;
  align-items: start;
  background: #fff;
  align-items: center;
  justify-content: center;
}
a {
  color: #fff !important;
  text-decoration: none !important;
}
a_l:hover {
  color: black !important;
}

.developer .box {
  background: #9bc2be;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30%;
}
.container_buttons_developer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.btn_developer {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #9bc2be;
  border: 2px solid #fff;
  box-shadow: 0.5px 0.5px 0.5px #fff;
}
.btn_developer:hover {
  color: #fff !important;
  background-color: #7ba29f;
  border: 2px solid #fff;
  text-decoration: none;
}

.box {
  align-items: center;
  justify-content: center;
}
a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .developer {
    flex-direction: column;
  }
  .container_buttons_developer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 40vh;
    height: 100vh;
  }
  h3 {
    font-size: 3vh;
  }
  p {
    font-size: 2vh;
  }
  .btn_developer {
    font-size: 2vh;
  }
  .developer .box {
    height: 20%;
  }
}
