/* Colors */
/* Rainy theme 5 -Green Digitalization Course and Students Apps-:
Navbar (background): #8bbbd9
Navbar (a hover): #466fa6
Navbar (logo): #568c63
Navbar (a menu): #2a4359
Footer (background): #8bbbd9
https://fontawesome.com/icons/calculator?s=solid&f=classic
*/

/*Google font*/
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

body {
  background-color: #f37979;
}


/* Navbar */

.navbar {
  background-color: #9bc2be !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 25px !important;
  height: 70px;
}

.nav-link {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #f37979 !important;
  margin: 10px;
}
.navbar a:hover {
  border-bottom: #fff 4px solid;
}

/* Footer  */
.section_footer {
  background-color: #9bc2be;
  color: #f37979;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar {
    height: 160px;
    flex-direction: column;
  }
  .navbar ul {
    flex-direction: column;
  }
}
