{% extends "layout.html" %} {% block content %}

<section class="section_developer">
  <div class="container">
    <div class="developer" style="display: block"></div>
    <div class="developer">
      <div class="box">
        <img
          src="static/CV-bilde Liten.png"
          alt="Bilde av Sara Birkeland - Developer"
          style="border-radius: 50%; width: 30vh"
        />
        <h3 style="margin-top: 20px">Sara Birkeland</h3>
        <p>
          <a_l
            href="https://www.linkedin.com/in/sara-helen-birkeland-skjerping-34802521a/"
            >LinkedIn</a_l
          >
        </p>
        <div class="container_buttons_developer">
          <a class="btn_developer" href="{{url_for('cv.cv_home')}}" target="_blank"
            >CV</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
