<html>
<body>

{% extends "layout.html" %} {% block content %}
<!--Søk på Color palette html google-->

<!-- Header -->
<section class="section_header_home">
  <div class="container">
    <div class="header_home">
      <div class="box_home">
        <h1 style="font-size: 55px">
          <span class="text-logo"> Welcome to our homepage!</span>
        </h1>
        <h5>Hello Sara!</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
          officiis voluptas fugit repellat iusto, amet, nobis exercitationem
          labore expedita quaerat id molestiae reprehenderit sed distinctio
          dicta doloribus ad quia maiores et eveniet dolorum quod. Reiciendis,
          exercitationem facilis rem consequuntur possimus sunt quisquam.
          Voluptatum sed minus quisquam voluptatibus, dolor sunt magnam? Lorem
          ipsum dolor sit amet consectetur, adipisicing elit. Eos pariatur error
          recusandae dignissimos, vero aspernatur odio quis officia! Nihil
          voluptatibus id magni asperiores soluta vero adipisci ratione impedit
          quam blanditiis reiciendis laboriosam, delectus, excepturi ut saepe
          rerum. A, quisquam? Autem.
        </p>
        <div class="container_buttons_header_home">
          <div class="btn">
            <a
              href="{{url_for('users.register')}}"
              class="btn btn-primary btn-lg mr-2"
              ,
              style="background-color: #f37979; border: #f37979;"
              >Register</a
            >
            <a
              href="{{url_for('users.login')}}"
              class="btn btn-primary btn-lg mr-2"
              ,
              style="background-color: #f37979; border: #f37979;"
              >Login</a
            >
          </div>
        </div>
      </div>
      <div class="box_home">
        <img
          src="{{url_for('static', filename='carbon_app.svg')}}"
          width="325"
          height="325"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!--Developers-->
<section class="section_developers">
  <div class="container">
    <div class="developers" style="display: block">
      <h1 style="text-align: center; color: #f37979;">Our Team</h1>
      <p style="color: #f37979">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        praesentium consequatur odio ipsum ipsa, tempora, culpa eius molestias
        saepe ratione quae voluptatibus consequuntur officia nesciunt, libero et
        explicabo nam sint consectetur magni quas harum! Quod saepe fuga hic
        reprehenderit, facilis alias architecto eaque sequi laboriosam quos non
        sapiente aliquam maxime modi nemo provident sunt vitae perferendis
        consectetur maiores fugit recusandae.
      </p>
        </div>
        <div class="developers">
      <div class="box_home">
        <img
          src="/static/bilde_av_sara.jpeg"
          alt=""
          style="border-radius: 50%; width: 30vh"
        />
        <h3 style="color: #fff">Sara Birkeland</h3>
        <p style="color: #fff">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tempora.
          Cumque doloribus veniam quo molestias cum excepturi sequi reiciendis
          corporis at voluptate numquam ut quis eaque tenetur hic ipsam quidem
          voluptates corrupti, obcaecati minima explicabo, illo similique
          doloremque! Tempore, in!
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#">CV</a>
        </div>
        </div>
        <div class="box_home">
        <img
          src="/static/bilde_av_sara.jpeg"
          alt=""
          style="border-radius: 50%; width: 30vh"
        />
        <h3 style="color: #fff">Christian Eriksen</h3>
        <p style="color: #fff">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tempora.
          Cumque doloribus veniam quo molestias cum excepturi sequi reiciendis
          corporis at voluptate numquam ut quis eaque tenetur hic ipsam quidem
          voluptates corrupti, obcaecati minima explicabo, illo similique
          doloremque! Tempore, in!
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#">CV</a>
        </div>
        </div>
        <div class="box_home">
        <img
          src="/static/bilde_av_sara.jpeg"
          alt=""
          style="border-radius: 50%; width: 30vh"
        />
        <h3 style="color: #fff">Richard Myrdal</h3>
        <p style="color: #fff">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tempora.
          Cumque doloribus veniam quo molestias cum excepturi sequi reiciendis
          corporis at voluptate numquam ut quis eaque tenetur hic ipsam quidem
          voluptates corrupti, obcaecati minima explicabo, illo similique
          doloremque! Tempore, in!
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#">CV</a>
        </div>
        </div>
        <div class="box_home">
        <img
          src="/static/bilde_av_sara.jpeg"
          alt=""
          style="border-radius: 50%; width: 30vh"
        />
        <h3 style="color: #fff">Per Ole Lande</h3>
        <p style="color: #fff">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tempora.
          Cumque doloribus veniam quo molestias cum excepturi sequi reiciendis
          corporis at voluptate numquam ut quis eaque tenetur hic ipsam quidem
          voluptates corrupti, obcaecati minima explicabo, illo similique
          doloremque! Tempore, in!
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#">CV</a>
        </div>
      </div>
      <div class="box_home">
        <img
          src="/static/bilde_av_sara.jpeg"
          alt=""
          style="border-radius: 50%; width: 30vh"
        />
        <h3 style="color: #fff">Jon Kristoffer</h3>
        <p style="color: #fff">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tempora.
          Cumque doloribus veniam quo molestias cum excepturi sequi reiciendis
          corporis at voluptate numquam ut quis eaque tenetur hic ipsam quidem
          voluptates corrupti, obcaecati minima explicabo, illo similique
          doloremque! Tempore, in!
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#">CV</a>
        </div>
      </div>
      <div class="box_home">
        <img
          src="/static/bilde_av_sara.jpeg"
          alt=""
          style="border-radius: 50%; width: 30vh"
        />
        <h3 style="color: #fff">Martin Akselsen</h3>
        <p style="color: #fff">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tempora.
          Cumque doloribus veniam quo molestias cum excepturi sequi reiciendis
          corporis at voluptate numquam ut quis eaque tenetur hic ipsam quidem
          voluptates corrupti, obcaecati minima explicabo, illo similique
          doloremque! Tempore, in!
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#">CV</a>
        </div>
      </div>
      <div class="box_home">
        <img
          src="/static/bilde_av_sara.jpeg"
          alt=""
          style="border-radius: 50%; width: 30vh"
        />
        <h3 style="color: #fff">Carl-Oscar</h3>
        <p style="color: #fff">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tempora.
          Cumque doloribus veniam quo molestias cum excepturi sequi reiciendis
          corporis at voluptate numquam ut quis eaque tenetur hic ipsam quidem
          voluptates corrupti, obcaecati minima explicabo, illo similique
          doloremque! Tempore, in!
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#">CV</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

</body>
</html>
