{% extends "layout.html" %} {% block content %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='methodology.css') }}"
  />
</head>

<!--Import the Bootstrap CSS file for the Icons:-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<!-- Header -->
<section class="section_header_home">
  <div class="container">
    <div class="header_home">
      <div class="box_home">
        <h1 style="font-size: 55px">
          <span class="text-logo"> Methodology</span>
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
          officiis voluptas fugit repellat iusto, amet, nobis exercitationem
          labore expedita quaerat id molestiae reprehenderit sed distinctio
          dicta doloribus ad quia maiores et eveniet dolorum quod. Reiciendis,
          exercitationem facilis rem consequuntur possimus sunt quisquam.
          Voluptatum sed minus quisquam voluptatibus, dolor sunt magnam? Lorem
          ipsum dolor sit amet consectetur, adipisicing elit. Eos pariatur error
          recusandae dignissimos, vero aspernatur odio quis officia! Nihil
          voluptatibus id magni asperiores soluta vero adipisci ratione impedit
          quam blanditiis reiciendis laboriosam, delectus, excepturi ut saepe
          rerum. A, quisquam? Autem.
        </p>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Instructions
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" tabindex="1">
          To use our calculator, please follow the next steps:
          <ol>
            <li>Select the transport.</li>
            <li>Select the fuel.</li>
            <li>Introduce the kilometers.</li>
            <li>Submit your form.</li>
          </ol>
        </div>
        <div class="modal-footer">
          <a href="{{url_for('carbon_app.new_entry')}}" class="btn btn-primary", style="background-color: #9bc2be">New entry</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Use our calculator</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Formulas -->

<!-- MathJax -->

<section class="section_formulas">
  <div class="title">Formulas</div>
    <div class="container_formulas">
        <div class="box top left">
        <p style="color: #fff;">Sum:
            \[ \sum_{n=1}^{\infty} 2^{-n} = 1 \]</p>
        </div>
        <div class="box top right">
        <p style="color: #fff;">Limits:
            \[ \lim_{x\to\infty} f(x) \]</p>
        </div>
        <div class="box bottom left">
        <p style="color: #fff;">Expression:
            \[ x^2 + y^2 = z^2 \]</p>
        </div>
        <div class="box bottom right">
        <p style="color: #fff;">Integral:
            \[ \int_{a}^{b} x^2 \,dx \]</p>
        </div>
    </div>
</section>

{% endblock content %}
